<div class="card shadow">
  <div class="card-header border-0">
    <h3 class="mb-0">分发记录</h3>
  </div>
  <div class="table-responsive">
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
      <tr class="d-flex">
        <th scope="col" class="col-1">发出人</th>
        <th scope="col" class="col-2">接收人</th>
        <th scope="col" class="col-8">感谢理由</th>
        <th scope="col" class="col-2" >时间日期</th>
      </tr>
      </thead>
      <tbody>

      <% bravos.forEach(function (bravo) {%>
        <tr class="d-flex shadow--hover">
          <td class="col-2">
            <div class="avatar-group">
              <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="<%= bravo["发出人"][0].name %>">
                <img alt="Image placeholder for <%= bravo["发出人"][0].name %>" src="https://ui-avatars.com/api/?background=0D8ABC&color=fff&name=<%= bravo["发出人"][0].name[0] %>" class="rounded-circle">
              </a>
            </div>
          </td>
          <td class="col-2">
            <div class="avatar-group">
              <% bravo["接收人"].forEach(function(receiver) {%>
                <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="<%= receiver.name %>">
                  <img alt="Image placeholder for <%= receiver.name %>" src="https://ui-avatars.com/api/?background=0D8ABC&color=fff&name=<%= receiver.name[0] %>" class="rounded-circle">
                </a>
              <% })%>
            </div>
          </td>
          <th class="col-6">
            <div class="media align-items-center">
              <div class="zg-icon icon-shape bg-warning text-white rounded-circle shadow">
                <i class="fas <%= bravo["点数"] > 300 ? "fa-trophy":  "fa-thumbs-up" %>"></i>
              </div>
              <div class="ml-2 media-body">
                <span class="mb-0 text-sm"><%= bravo['分发原因'] || '尚待补充' %></span>
              </div>
            </div>
          </th>
          <td class="text-left col-2">
            <%= bravo['时间日期']%>
          </td>
        </tr>
      <% })%>
      </tbody>
    </table>
  </div>
  <div class="card-footer py-4">
    <nav aria-label="...">
      <ul class="pagination justify-content-end mb-0">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">
            <i class="fas fa-angle-left"></i>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">
            <i class="fas fa-angle-right"></i>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>